.otherCollectionItem{
  width: 100%;
  box-sizing: border-box;
  padding: 0.3rem 0;
  border-bottom: 0.02rem solid #ede3d6;
  line-height: 0.36rem;

  h3{
    font-size:0.32rem;
    color: #818181;
  }

  p{
    font-size: 0.32rem;
    color: #4C566C;
  }
}
