.otherAnswerItem{
  width: 100%;
  box-sizing: border-box;
  padding: 0.3rem 0;
  border-bottom: 0.02rem solid #ede3d6;

  p{
    line-height: 0.36rem;
    font-size: 0.32rem;
    color: #4C566C;

    span{
      color:#818181;
    }
  }
}
