@import "../../common/mixin";

.editInfo{
  width: 100%;
  height: 100%;
  background-color: #F6F1EA;
  box-sizing: border-box;
  padding-top: 1.3rem;

  @at-root{
    .edit_avatar{
      width: 100%;
      height: 2rem;
      background-color: #FFF;
      margin-bottom: 0.34rem;
      box-sizing: border-box;
      padding: 0.24rem 0.24rem 0.24rem 0.3rem;
      line-height: 0;

      position: relative;
      z-index: 11;

      .avatar{
        width: 1.52rem;
        height: 1.52rem;
        border-radius: 50%;
      }

      span{
        display: inline-block;
        height: 100%;
        line-height: 1.52rem;
        margin-left: 0.36rem;
        font-size: 0.36rem;
        color: #89817A;
        vertical-align: bottom;
      }

      .arrow{
        float: right;
        width: 0.18rem;
        height: 0.32rem;
        margin-top:0.6rem;
      }
    }

    .edit_info{
      width: 100%;
      height: 100%;
      background-color: #FFF;
      box-sizing: border-box;
      padding-top: 2.34rem;
      margin-top: -2.34rem;
      background-clip: content-box;

      position: relative;
      z-index: 1;

      .edit_info_container{
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding: 0.12rem 0 0 0.4rem;
      }
    }
  }
}
