.myAnswerItem{
  width: 100%;

  p{
    font-size: 0.32rem;
    color: #818181;
    line-height: 0.45rem;
    box-sizing: border-box;
    padding: 0.26rem 0.26rem 0.26rem 0;
    border-bottom: 0.02rem solid #ede3d6;

    span{
      color: #4C566C;
    }
  }
}
