.myCollectionItem{
  width: 100%;
  box-sizing: border-box;
  padding: 0.26rem 0.26rem 0.26rem 0;
  border-bottom: 0.02rem solid #ede3d6;

  .desc{
    font-size:0.32rem;
    color: #ACA9A4;
    margin-bottom: 0.16rem;

    span{
      color: #818181;
    }
  }

  .title{
    font-size: 0.32rem;
    color: #4C566C;
    line-height: 0.46rem;
  }
}
