.count{
  font-size: 0.26rem;
  color: #747270;
  display: inline-block;
  vertical-align: middle;
  margin-right: 0.26rem;

  img{
    margin-right: 0.1rem;
    width:0.26rem;
    height:0.22rem;
  }
}
